{% assign icons = include.icons %}

{% if icons.rss %}
<li>
    <a href="{{ '/feed.xml' | prepend: site.baseurl }}" title="Subscribe to my RSS feed">
        <i class="fa fa-fw fa-rss"></i>
    </a>
</li>
{% endif %}

{% if icons.email %}
<li>
    <a href="mailto:{{ icons.email }}">
        <i class="fa fa-fw fa-envelope"></i>
    </a>
</li>
{% endif %}

{% if icons.twitter %}
<li>
    <a href="https://twitter.com/{{ icons.twitter }}" title="{{ icons.twitter }} on Twitter">
        <i class="fa fa-fw fa-twitter"></i>
    </a>
</li>
{% endif %}

{% if icons.facebook %}
<li>
    <a href="https://www.facebook.com/{{ icons.facebook }}" title="{{ icons.facebook }} on Facebook">
        <i class="fa fa-fw fa-facebook"></i>
    </a>
</li>
{% endif %}

{% if icons.google_plus %}
<li>
    <a href="https://plus.google.com/{{ icons.google_plus }}" title="{{ icons.google_plus }} on Google+">
        <i class="fa fa-fw fa-google-plus"></i>
    </a>
</li>
{% endif %}

{% if icons.tumblr %}
<li>
    <a href="https://{{ icons.tumblr }}.tumblr.com/">
        <i class="fa fa-fw fa-tumblr"></i>
    </a>
</li>
{% endif %}

{% if icons.flickr %}
<li>
    <a href="https://www.flickr.com/photos/{{ icons.flickr }}">
        <i class="fa fa-fw fa-flickr"></i>
    </a>
</li>
{% endif %}

{% if icons.instagram %}
<li>
    <a href="http://instagram.com/{{ icons.instagram }}" title="{{ icons.instagram }} on Instagram">
        <i class="fa fa-fw fa-instagram"></i>
    </a>
</li>
{% endif %}

{% if icons.linkedin %}
<li>
    <a href="{{ icons.linkedin }}" title="LinkedIn Profile">
        <i class="fa fa-fw fa-linkedin"></i>
    </a>
</li>
{% endif %}

{% if icons.github %}
<li>
    <a href="https://github.com/{{ icons.github }}" title="{{ icons.github }} on GitHub">
        <i class="fa fa-fw fa-github"></i>
    </a>
</li>
{% endif %}

{% if icons.bitbucket %}
<li>
    <a href="https://bitbucket.org/{{ icons.bitbucket }}" title="{{ icons.bitbucket }} on BitBucket">
        <i class="fa fa-fw fa-bitbucket"></i>
    </a>
</li>
{% endif %}

{% if icons.behance %}
<li>
    <a href="https://www.behance.net/{{ icons.behance }}">
        <i class="fa fa-fw fa-behance"></i>
    </a>
</li>
{% endif %}

{% if icons.dribbble %}
<li>
    <a href="https://dribbble.com/{{ icons.dribbble }}">
        <i class="fa fa-fw fa-dribbble"></i>
    </a>
</li>
{% endif %}

{% if icons.nextfree %}
<li>
    <a href="https://www.nextfree.co.uk/for/{{ icons.nextfree }}" title="NEXTFREE">
        <img src="https://www.nextfree.co.uk/assets/NF_logo.png" style="width: 1em;">
    </a>
</li>
{% endif %}

{% if icons.pinterest %}
<li>
    <a href="http://www.pinterest.com/{{ icons.pinterest }}" title="{{ icons.pinterest }} on Pinterest">
        <i class="fa fa-fw fa-pinterest"></i>
    </a>
</li>
{% endif %}

{% if icons.reddit %}
<li>
    <a href="https://www.reddit.com/user/{{ icons.reddit }}" title="{{ icons.reddit }} on Reddit">
        <i class="fa fa-fw fa-reddit"></i>
    </a>
</li>
{% endif %}

{% if icons.soundcloud %}
<li>
    <a href="https://soundcloud.com/{{ icons.soundcloud }}">
        <i class="fa fa-fw fa-soundcloud"></i>
    </a>
</li>
{% endif %}

{% if icons.stack_exchange %}
<li>
    <a href="{{ icons.stack_exchange }}" title="Stack Exchange">
        <i class="fa fa-fw fa-stack-exchange"></i>
    </a>
</li>
{% endif %}

{% if icons.steam %}
<li>
    <a href="http://steamcommunity.com/id/{{ icons.steam }}">
        <i class="fa fa-fw fa-steam"></i>
    </a>
</li>
{% endif %}

{% if icons.wordpress %}
<li>
    <a href="https://{{ icons.wordpress }}.wordpress.com/">
        <i class="fa fa-fw fa-wordpress"></i>
    </a>
</li>
{% endif %}

{% if icons.youtube %}
<li>
    <a href="https://www.youtube.com/user/{{ icons.youtube }}" title="{{ icons.youtube }} on Youtube">
        <i class="fa fa-fw fa-youtube"></i>
    </a>
</li>
{% endif %}

{% if icons.goodreads %}
<li>
    <a href="https://www.goodreads.com/{{ icons.goodreads }}" title="{{ icons.goodreads }} on Goodreads">
        <i class="fa fa-fw fa-book"></i>
    </a>
</li>
{% endif %}