{% assign icons = include.icons %}

{% if icons.rss %}
<li>
    <a href="{{ '/feed.xml' | prepend: site.baseurl }}" title="Subscribe to my RSS feed">
        <i class="fas fa-rss"></i>
    </a>
</li>
{% endif %}

{% if icons.email %}
<li>
    <a href="mailto:{{ icons.email }}">
        <i class="fas fa-envelope"></i>
    </a>
</li>
{% endif %}

{% if icons.twitter %}
<li>
    <a href="https://twitter.com/{{ icons.twitter }}" title="{{ icons.twitter }} on Twitter" rel="me">
        <i class="fab fa-twitter"></i>
    </a>
</li>
{% endif %}

{% if icons.facebook %}
<li>
    <a href="https://www.facebook.com/{{ icons.facebook }}" title="{{ icons.facebook }} on Facebook" rel="me">
        <i class="fab fa-facebook"></i>
    </a>
</li>
{% endif %}

{% if icons.google_plus %}
<li>
    <a href="https://plus.google.com/{{ icons.google_plus }}" title="{{ icons.google_plus }} on Google+" rel="me">
        <i class="fab fa-google-plus"></i>
    </a>
</li>
{% endif %}

{% if icons.tumblr %}
<li>
    <a href="https://{{ icons.tumblr }}.tumblr.com/" rel="me">
        <i class="fab fa-tumblr"></i>
    </a>
</li>
{% endif %}

{% if icons.flickr %}
<li>
    <a href="https://www.flickr.com/photos/{{ icons.flickr }}" rel="me">
        <i class="fab fa-flickr"></i>
    </a>
</li>
{% endif %}

{% if icons.instagram %}
<li>
    <a href="http://instagram.com/{{ icons.instagram }}" title="{{ icons.instagram }} on Instagram" rel="me">
        <i class="fab fa-instagram"></i>
    </a>
</li>
{% endif %}

{% if icons.linkedin %}
<li>
    <a href="{{ icons.linkedin }}" title="LinkedIn Profile" rel="me">
        <i class="fab fa-linkedin"></i>
    </a>
</li>
{% endif %}

{% if icons.github %}
<li>
    <a href="https://github.com/{{ icons.github }}" title="{{ icons.github }} on GitHub" rel="me">
        <i class="fab fa-github"></i>
    </a>
</li>
{% endif %}

{% if icons.bitbucket %}
<li>
    <a href="https://bitbucket.org/{{ icons.bitbucket }}" title="{{ icons.bitbucket }} on BitBucket" rel="me">
        <i class="fab fa-bitbucket"></i>
    </a>
</li>
{% endif %}

{% if icons.behance %}
<li>
    <a href="https://www.behance.net/{{ icons.behance }}" rel="me">
        <i class="fab fa-behance"></i>
    </a>
</li>
{% endif %}

{% if icons.dribbble %}
<li>
    <a href="https://dribbble.com/{{ icons.dribbble }}" rel="me">
        <i class="fab fa-dribbble"></i>
    </a>
</li>
{% endif %}

{% if icons.nextfree %}
<li>
    <a href="https://www.nextfree.co.uk/for/{{ icons.nextfree }}" title="NEXTFREE" rel="me">
        <img src="https://www.nextfree.co.uk/assets/NF_logo.png" style="width: 1em;">
    </a>
</li>
{% endif %}

{% if icons.pinterest %}
<li>
    <a href="http://www.pinterest.com/{{ icons.pinterest }}" title="{{ icons.pinterest }} on Pinterest" rel="me">
        <i class="fab fa-pinterest"></i>
    </a>
</li>
{% endif %}

{% if icons.reddit %}
<li>
    <a href="https://www.reddit.com/user/{{ icons.reddit }}" title="{{ icons.reddit }} on Reddit" rel="me">
        <i class="fab fa-reddit"></i>
    </a>
</li>
{% endif %}

{% if icons.soundcloud %}
<li>
    <a href="https://soundcloud.com/{{ icons.soundcloud }}" rel="me">
        <i class="fab fa-soundcloud"></i>
    </a>
</li>
{% endif %}

{% if icons.stack_exchange %}
<li>
    <a href="{{ icons.stack_exchange }}" title="Stack Exchange" rel="me">
        <i class="fab fa-stack-exchange"></i>
    </a>
</li>
{% endif %}

{% if icons.steam %}
<li>
    <a href="http://steamcommunity.com/id/{{ icons.steam }}" rel="me">
        <i class="fab fa-steam"></i>
    </a>
</li>
{% endif %}

{% if icons.wordpress %}
<li>
    <a href="https://{{ icons.wordpress }}.wordpress.com/" rel="me">
        <i class="fab fa-wordpress"></i>
    </a>
</li>
{% endif %}

{% if icons.youtube %}
<li>
    <a href="https://www.youtube.com/user/{{ icons.youtube }}" title="{{ icons.youtube }} on Youtube" rel="me">
        <i class="fab fa-youtube"></i>
    </a>
</li>
{% endif %}

{% if icons.goodreads %}
<li>
    <a href="https://www.goodreads.com/{{ icons.goodreads }}" title="{{ icons.goodreads }} on Goodreads" rel="me">
        <i class="fab fa-goodreads"></i>
    </a>
</li>
{% endif %}

{% if icons.youversion %}
<li>
    <a href="https://www.bible.com/users/{{ icons.youversion }}" title="{{ icons.youversion }} at YouVersion" rel="me">
        <i class="fas fa-book"></i>
    </a>
</li>
{% endif %}

{% if icons.bookcrossing %}
<li>
    <a href="https://www.bookcrossing.com/mybookshelf/{{ icons.bookcrossing }}/" title="{{ icons.bookcrossing }} on BookCrossing" rel="me">
        <i class="fas fa-atlas"></i>
    </a>
</li>
{% endif %}